body {
  background-color: #f2e8cf;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
font-family: 'Poppins', sans-serif;
}

.button-container {
  background-color: white;
  width: fit-content;
  border-radius: 20px;
  margin: auto;
}

.google-login-button{
  
}

.active-button {
  background-color: #ba3a39;
  color: white;
  border-radius: 20px;
  padding: 20px;
  font-size: 25px;
  width: 200px;
  border-color: transparent;
}

.inactive-button {
  background-color: white;
  color: #ba3a39;
  border-radius: 20px;
  padding: 20px;
  font-size: 25px;
  width: 200px;
  border-color: transparent;
}

.search-box {
  background-color: white;
  width: 600px;
  margin: 200px auto 0;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
}
